.loginRegister-wrapper {
  /* width: 350px;
  height: 572px; 
  margin: 0 auto;
  background: #F6F7F8;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07), 0px 2px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px; */
}

.loginRegister-header {
  width: 100%
}

.loginRegister-header-quit {
  width: 20px;
  height: 20px;
  margin: 10px 0 0 9px;
}



.loginRegister-main {
  /* flex: 1;
    width: 100%; */
  /* margin-top: 29px; */
  margin: 105px 48px 0 48px;
}

.loginRegister-main-logo-box {
  margin-bottom: 28px;
}

.loginRegister-main-logo {
  width: 75px;
  height: 75px;
}


.login-main-item {
  width: 100%;
  height: 50px;
  color: #070E0B;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #DCDFE6; */
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEDEF;
}

.login-main-item-title {
  /* width: 65px; */
  text-align: left;
  margin-left: 16px;
}

.login-main-item-input {
  flex: 1;
}

.login-main-item-other {
  width: 100%;
  margin-bottom: 42px;
  /* margin-top: 7px; */
  justify-content: space-between;
}

.login-main-item-ServiceNumberLogin,
.login-main-item-FogetPassword {
  /* flex: 1 1 auto; */
  font-size: 10px;
  color: #070E0B;
  opacity: 0.4;
}

.login-main-item-AutoLogin {
  /* width: 100%; */
  margin-right: auto;
  margin-bottom: 10px;
}

.login-main-item-AutoLogin-icon {
  width: 17px;
  height: 17px;
}

.login-main-item-AutoLogin-title {
  color: #070E0B;
  opacity: 0.4;
  font-size: 10px;
  margin-left: 6px;
}

.loginRegister-footer {
  width: 100%;
  margin: auto 0 31px 0;
  justify-content: space-between;
}

.login-main-btn {
  width: 122px;
  height: 50px;
  font-weight: 500;
  color: #FFFFFF;

  font-size: 16px;
  /* font-family: Futura-Medium, Futura; */
  border-radius: 6px;

}

.login-main-NextStep {
  margin-right: 48px;

  cursor: pointer;
  /* background: #17BA77;  */
  background-color: rgba(23, 186, 119, 1);
}

.login-main-NextStep:hover {
  background-color: rgba(20, 167, 107, 1);
}

.login-main-NextStep-click {
  background-color: rgba(18, 148, 95, 1);
}

.login-main-NextStep-disabled {
  background-color: rgba(156, 222, 196, 1)
}

.login-main-Return {
  margin-left: 52px;

  cursor: pointer;
  /* background: #070E0B; */
  background-color: rgba(7, 14, 11, 1);
}

.login-main-Return:hover {
  background-color: rgba(56, 62, 59, 1);
}

.login-main-Return-click {
  background-color: rgba(0, 0, 0, 1);
}

.login-main-Return-disabled {
  background-color: rgba(187, 189, 188, 1);
}

/* 注册成功 */
.loginRegister-main-RegistrationSuccess-icon {
  width: 80px;
  height: 72px;
}

.loginRegister-main-RegistrationSuccess-title {
  margin-top: 23px;
  height: 25px;
  font-size: 18px;
  color: #17BA77;
  line-height: 25px;
}

.login-main-RegistrationSuccess {
  width: 254px;
  margin-left: 43px;
  margin-right: 53px;
}

/*  修改element默认样式下拉框的内边距*/
.el-input__inner {
  border: 0px !important;
}

.login-main .el-input--suffix .el-input__inner {
  padding: 0 15px;
  border: 0px !important;
}

.login-main-item .el-icon-error:hover {
  color: #409EFF;
}




/* 新版 - 注册 */
.loginRegister-wrapper {
  width: 728px;
  height: 450px;
  margin: 0 auto;
  background: #F6F7F8;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07), 0px 2px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}
.loginRegister-left {
  width: 254px;
  height: 100%;
  background: #070E0B;
}

.loginRegister-new-logo {
  width: 100px;
  height: 100px;
}

.loginRegister-right {
  flex: 1;
  height: 100%;
}
.loginRegister-right-main{
  margin: 70px 60px 0 60px;
}
.loginRegister-right-main-from{

}


.login-right-main-from-item {
  /* width: 354px; */
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEDEF;
  margin-bottom: 10px;
}
.login-right-main-from-item:last-child{
  margin-bottom: 0;
}
.login-right-main-from-item-select {
  /* width: 60px; */
  /* width: 74px; */
  width: 100%;
  height: 100%;
  position: relative;
}

/* .login-right-main-from-item-select::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  width: 1px;
  height: 16px;
  background: #070E0B;
  opacity: 0.2;
  transform: translate(0%, -50%);
} */

.login-right-main-from-item-input {
  flex: 1;
  height: 100%;
}


.login-right-main-from-Next {
  width: 100%;
  height: 48px;
  margin-top: 60px;
  border-radius: 6px;
  background: #17BA77;
  cursor: pointer;
}

.login-right-main-from-Next span {
  height: 21px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 21px;
}


/* 注册成功  */
.loginRegister-right-main-title{
  height: 42px;
font-size: 16px;
color: #070E0B;
line-height: 21px;
}
.loginRegister-right-main-footer{
  margin-top: 124px;
}
.loginRegister-right-main-footer .login-right-main-from-Next{
  margin-top: 0px;
  margin-bottom: 10px;
}
.loginRegister-right-main-footer .login-right-main-from-Next:last-child{
  margin-bottom: 0px;
  background: #070E0B;
}